button.fancybox-button--thumbs:after,
button.fancybox-button--fullscreen:after,
button.fancybox-button--play:after {
  display: none; }

.fancybox-button--left:after {
  transform: rotate(-135deg) !important;
  opacity: 1 !important; }

.fancybox-button--right:after {
  transform: rotate(45deg) !important;
  opacity: 1 !important;
  left: 16px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

html {
  background: #323232; }

body {
  position: relative;
  background: transparent; }
  body.is-overflow-hidden {
    overflow: hidden; }
    @media screen and (max-width: 1000px) {
      body.is-overflow-hidden {
        position: fixed; } }

h1 {
  font-family: 'Montserrat';
  font-weight: 600;
  color: #000000; }

h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  color: #000000; }

h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  color: #000000; }

h4 {
  font-family: 'Montserrat';
  color: #FCCC04;
  font-size: 6em;
  margin: 0;
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 8px, rgba(0, 0, 0, 0.1) 0px 0px 1px;
  line-height: 1; }

h5 {
  font-family: 'Playfair Display';
  font-weight: 900;
  color: #000;
  font-size: 2.5em;
  line-height: 110%;
  margin: 0 0 1em 0; }
  @media screen and (max-width: 980px) {
    h5 {
      font-size: 2em; } }

p {
  font-family: 'Open sans';
  color: rgba(0, 0, 0, 0.5); }

strong, b {
  color: inherit;
  font-weight: bold; }

.hamburger, .cross, .cross2 {
  position: absolute;
  z-index: 10001;
  right: 4em;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .hamburger, .cross, .cross2 {
      right: 1em; } }

.hamburger {
  display: none; }
  @media screen and (max-width: 980px) {
    .hamburger {
      display: block; } }

.cross {
  display: none; }

.cross2 {
  visibility: hidden;
  opacity: 0; }

.nav-mobile {
  position: fixed;
  width: 100%;
  height: calc(100% - 3.5em);
  bottom: 0;
  background: #FCCC04;
  z-index: 10;
  display: none; }
  .nav-mobile ul {
    width: 100%;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0; }
    .nav-mobile ul li {
      width: 100%;
      font-family: 'Montserrat';
      color: #000;
      text-align: center;
      font-size: 3.5em;
      font-weight: 600;
      padding-left: 0; }
      @media screen and (max-width: 480px) {
        .nav-mobile ul li {
          font-size: 2em; } }

ul.actions li a.button {
  font-family: 'Montserrat';
  color: #000000 !important;
  background: #FCCC04;
  border: none !important; }
  ul.actions li a.button:hover {
    border: none; }

.spotlights > section > .image:before {
  background: transparent; }

.infos {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #B0263F;
  z-index: 10;
  padding: 15px 4em;
  color: #fff; }
  @media screen and (max-width: 736px) {
    .infos {
      padding: 15px 2em; } }
  .infos.success {
    background: #14B06A !important; }
  .infos.error {
    color: #fff; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background-color: #fff; }

#sidebar {
  background: #FCCC04; }
  @media screen and (max-width: 736px) {
    #sidebar {
      display: block; } }
  #sidebar .logo {
    position: absolute;
    left: 4em;
    height: 100%;
    width: auto;
    cursor: pointer; }
    @media screen and (max-width: 480px) {
      #sidebar .logo {
        left: 1em; } }
  #sidebar nav {
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: 4em; }
    @media screen and (max-width: 980px) {
      #sidebar nav {
        display: none; } }
    @media screen and (max-width: 736px) {
      #sidebar nav {
        display: none; } }
    #sidebar nav a {
      color: rgba(0, 0, 0, 0.35); }
      #sidebar nav a:after {
        background-color: #fff; }
      #sidebar nav a:before {
        background-color: #FCCC04; }
      #sidebar nav a:hover {
        color: rgba(0, 0, 0, 0.55); }
      #sidebar nav a.active {
        color: #000; }

.parallax {
  width: 100%;
  height: 720px;
  background: transparent;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .parallax {
      height: 50vh; } }
  .parallax .parallax-bg {
    position: absolute;
    width: 100%;
    height: 115vh;
    background-size: cover !important;
    background-position: bottom !important;
    bottom: 0; }
    @media screen and (max-width: 480px) {
      .parallax .parallax-bg {
        height: 70vh; } }
    .parallax .parallax-bg.parallax-bg-one {
      background: url("../../images/parallax1.jpg"); }
    .parallax .parallax-bg.parallax-bg-two {
      background: url("../../images/parallax2.jpg"); }
    .parallax .parallax-bg.parallax-bg-three {
      background: url("../../images/parallax-bg1.jpg"); }

#intro {
  background-size: cover;
  background-position: center bottom;
  position: relative;
  min-height: 100vh; }
  @media screen and (max-width: 736px) {
    #intro {
      margin-top: 0; } }
  #intro svg {
    width: 100%;
    margin-bottom: 30px; }
    #intro svg #brand-title path {
      fill: #FCCC04; }
  #intro .intro-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #332a01;
    opacity: .5; }
  #intro .intro-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../../images/welcome.jpg");
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center center; }
    #intro .intro-bg video {
      height: 100%;
      left: 0;
      object-fit: cover;
      top: 0;
      width: 100%; }
      @media screen and (max-width: 1200px) {
        #intro .intro-bg video {
          display: none; } }
  #intro .inner {
    max-width: 850px;
    position: absolute;
    bottom: 7%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%); }
    @media screen and (max-width: 480px) {
      #intro .inner {
        bottom: 5%; } }
    #intro .inner .logo-intro {
      width: 100%;
      margin-bottom: 30px; }
    #intro .inner div.intro-logo-list {
      overflow: auto;
      margin-left: -150px;
      margin-right: -150px;
      margin-bottom: 70px; }
      @media screen and (max-width: 1200px) {
        #intro .inner div.intro-logo-list {
          margin-left: 0;
          margin-right: 0; } }
      @media screen and (max-width: 480px) {
        #intro .inner div.intro-logo-list {
          margin-bottom: 40px; } }
      #intro .inner div.intro-logo-list img {
        width: calc(100% / 6);
        float: left; }
        @media screen and (max-width: 1200px) {
          #intro .inner div.intro-logo-list img {
            width: calc(100% / 3); } }
    #intro .inner .scroll-downs {
      cursor: pointer;
      transform-origin: 50% 50%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 34px;
      height: 55px; }
    #intro .inner .mousey {
      width: 3px;
      padding: 10px 16px 10px 13px;
      height: 55px;
      border: 2px solid #FCCC04;
      border-radius: 25px;
      opacity: 0.75; }
    #intro .inner .scroller {
      width: 3px;
      height: 10px;
      border-radius: 25%;
      background-color: #FCCC04;
      animation-name: scroll;
      animation-duration: 2.2s;
      animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
      animation-iteration-count: infinite; }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }
  #intro h1 {
    color: #fff; }
  #intro p {
    color: rgba(255, 255, 255, 0.85);
    text-shadow: rgba(0, 0, 0, 0.6) 0 1px 8px, rgba(0, 0, 0, 0.6) 0px 0px 1px; }

.skills {
  background-color: #e0e0e0 !important; }
  .skills .skills-steps {
    overflow: auto;
    padding-top: 0;
    padding-bottom: 0.8em; }
    @media screen and (max-width: 1400px) {
      .skills .skills-steps {
        padding-bottom: 0.5em; } }
    @media screen and (max-width: 1200px) {
      .skills .skills-steps {
        padding-bottom: 0em; } }
  .skills .skills-steps-container {
    width: 31.3333%;
    float: left;
    margin-right: 3%; }
    .skills .skills-steps-container:last-child {
      margin-right: 0; }
      @media screen and (max-width: 900px) {
        .skills .skills-steps-container:last-child {
          margin-bottom: 20px; } }
    @media screen and (max-width: 900px) {
      .skills .skills-steps-container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px; } }
    .skills .skills-steps-container h1 {
      font-size: 138px;
      line-height: 100px;
      font-weight: 900;
      color: #FCCC04;
      text-shadow: rgba(0, 0, 0, 0.1) 0 1px 8px, rgba(0, 0, 0, 0.1) 0px 0px 1px;
      display: inline-block;
      float: left;
      margin: 0;
      margin-right: 20px;
      margin-bottom: 50px; }
      @media screen and (max-width: 1400px) {
        .skills .skills-steps-container h1 {
          font-size: 110px;
          line-height: 85px; } }
      @media screen and (max-width: 1200px) {
        .skills .skills-steps-container h1 {
          font-size: 90px;
          line-height: 70px; } }
      @media screen and (max-width: 900px) {
        .skills .skills-steps-container h1 {
          float: none;
          display: block;
          text-align: center;
          line-height: 100px;
          margin-bottom: 20px;
          font-size: 138px; }
          .skills .skills-steps-container h1 span {
            display: none; } }
    .skills .skills-steps-container h2 {
      font-size: 28px;
      font-weight: 400;
      line-height: 36px;
      hyphens: auto;
      opacity: 1; }
      @media screen and (max-width: 1400px) {
        .skills .skills-steps-container h2 {
          font-size: 22px;
          line-height: 30px; } }
      @media screen and (max-width: 1200px) {
        .skills .skills-steps-container h2 {
          font-size: 18px;
          line-height: 25px; } }
      @media screen and (max-width: 900px) {
        .skills .skills-steps-container h2 {
          text-align: center;
          font-size: 28px;
          line-height: 36px; } }
  .skills .features {
    border: none;
    background: transparent; }
    .skills .features section {
      border: none; }
      @media screen and (max-width: 480px) {
        .skills .features section {
          padding: 2.5em 0em 0.1em 4em; } }
      .skills .features section .icon.major {
        background: #FCCC04; }
        .skills .features section .icon.major:before {
          color: #000 !important; }
        @media screen and (max-width: 480px) {
          .skills .features section .icon.major {
            position: absolute;
            left: 0;
            top: 2em; } }
  .skills .skills-big4 {
    padding-top: 0; }

.spotlights {
  background: black !important; }
  .spotlights .wall {
    width: 100%; }
    .spotlights .wall .brick {
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      .spotlights .wall .brick:hover .brick-bg {
        transform: scale(1.05);
        transition: all 0.3s; }
      .spotlights .wall .brick.brick-lg {
        height: calc(100vh - 3.5em);
        background: white; }
        @media screen and (max-width: 1200px) {
          .spotlights .wall .brick.brick-lg {
            height: 76vh; } }
        @media screen and (max-width: 915px) {
          .spotlights .wall .brick.brick-lg {
            height: 33vh; } }
      .spotlights .wall .brick.brick-sm {
        height: calc(50vh - 1.75em);
        background: red; }
        @media screen and (max-width: 1200px) {
          .spotlights .wall .brick.brick-sm {
            height: 38vh; } }
        @media screen and (max-width: 915px) {
          .spotlights .wall .brick.brick-sm {
            height: 33vh; } }
      .spotlights .wall .brick .brick-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-position: center center !important;
        background-size: cover !important;
        overflow: hidden;
        z-index: 1;
        transform-origin: 50% 50%;
        transition: all 0.3s; }
      .spotlights .wall .brick .brick-excerpt {
        position: absolute;
        z-index: 4;
        padding: 30px;
        width: 100%;
        bottom: 0;
        transition: all 0.2s ease-in-out; }
        @media screen and (max-width: 900px) {
          .spotlights .wall .brick .brick-excerpt {
            padding: 15px 30px; } }
        .spotlights .wall .brick .brick-excerpt .brick-tag {
          background: #FCCC04;
          color: black;
          padding: 0 7px;
          display: inline-block;
          margin-bottom: 10px;
          font-family: 'Montserrat';
          font-weight: 900; }
        .spotlights .wall .brick .brick-excerpt .brick-title {
          color: #FCCC04;
          margin-bottom: 0.3em;
          font-size: 2em;
          line-height: 1.3em;
          transition: all 0.3s;
          font-family: 'Playfair Display'; }
          @media screen and (max-width: 900px) {
            .spotlights .wall .brick .brick-excerpt .brick-title {
              font-size: 1.5em; } }
        .spotlights .wall .brick .brick-excerpt .brick-lead {
          color: white;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: block;
          margin-bottom: 1em;
          font-size: 1.2em;
          line-height: 1.5em; }
          @media screen and (max-width: 900px) {
            .spotlights .wall .brick .brick-excerpt .brick-lead {
              display: none; } }
        .spotlights .wall .brick .brick-excerpt .brick-button {
          opacity: 0;
          transition: all 0.2s ease-in-out;
          display: none; }
      .spotlights .wall .brick .brick-radialgradient {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(ellipse at center, transparent 0%, black 100%);
        opacity: 0.2; }
      .spotlights .wall .brick .brick-shadow {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        background: linear-gradient(to top, #000 0, rgba(0, 0, 0, 0.5) 30%, transparent 100%);
        opacity: 1;
        z-index: 2; }
      .spotlights .wall .brick .brick-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        transform: translateY(100%);
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 3; }

.article-reader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0; }
  .article-reader.is-scrollable {
    overflow-y: scroll; }
    @media screen and (min-width: 900px) {
      .article-reader.is-scrollable {
        overflow-y: initial; } }
  .article-reader .article-reader-header {
    height: 100%;
    width: 900px;
    float: left;
    background: #efefef; }
    @media screen and (max-width: 1920px) {
      .article-reader .article-reader-header {
        width: 600px; } }
    @media screen and (max-width: 1200px) {
      .article-reader .article-reader-header {
        width: 450px; } }
    @media screen and (max-width: 900px) {
      .article-reader .article-reader-header {
        width: 100%;
        height: 50%; } }
    .article-reader .article-reader-header .article-reader-header-inner {
      width: 100%;
      height: 100%;
      background: red;
      background-position: center center !important;
      background-size: cover !important;
      position: relative; }
      .article-reader .article-reader-header .article-reader-header-inner .article-reader-header-shadow {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        background: linear-gradient(to top, #000 0, rgba(0, 0, 0, 0.5) 30%, transparent 100%);
        opacity: 1; }
        @media screen and (max-width: 900px) {
          .article-reader .article-reader-header .article-reader-header-inner .article-reader-header-shadow {
            font-size: 1em; } }
      .article-reader .article-reader-header .article-reader-header-inner .article-reader-header-excerpt {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 30px; }
        @media screen and (max-width: 900px) {
          .article-reader .article-reader-header .article-reader-header-inner .article-reader-header-excerpt {
            padding-bottom: 0; } }
        .article-reader .article-reader-header .article-reader-header-inner .article-reader-header-excerpt .article-reader-header-excerpt-lead {
          color: white;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: block;
          margin-bottom: 1em;
          font-size: 1.5em;
          line-height: 1.5em; }
          @media screen and (max-width: 900px) {
            .article-reader .article-reader-header .article-reader-header-inner .article-reader-header-excerpt .article-reader-header-excerpt-lead {
              font-size: 1em;
              text-shadow: rgba(0, 0, 0, 0.6) 0 1px 8px, rgba(0, 0, 0, 0.6) 0px 0px 1px; } }
        .article-reader .article-reader-header .article-reader-header-inner .article-reader-header-excerpt .article-back li a.button {
          background: transparent;
          color: white !important;
          border: 2px solid white !important; }
  .article-reader .article-reader-body {
    height: 100%;
    width: calc(100% - 900px);
    float: left;
    background: white;
    position: relative; }
    @media screen and (max-width: 1920px) {
      .article-reader .article-reader-body {
        width: calc(100% - 600px); } }
    @media screen and (max-width: 1200px) {
      .article-reader .article-reader-body {
        width: calc(100% - 450px); } }
    @media screen and (max-width: 900px) {
      .article-reader .article-reader-body {
        width: 100%;
        height: auto; } }
    .article-reader .article-reader-body.is-scrollable {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; }
      @media screen and (max-width: 900px) {
        .article-reader .article-reader-body.is-scrollable {
          overflow-y: initial; } }
    .article-reader .article-reader-body .article-reader-body-inner {
      padding: 150px 300px 30px 160px; }
      @media screen and (max-width: 1600px) {
        .article-reader .article-reader-body .article-reader-body-inner {
          padding: 150px 80px 30px 80px; } }
      @media screen and (max-width: 900px) {
        .article-reader .article-reader-body .article-reader-body-inner {
          padding: 40px 30px 0 30px; } }
      .article-reader .article-reader-body .article-reader-body-inner h2 {
        margin-bottom: 30px;
        font-size: 3em;
        line-height: 1.4em;
        text-transform: uppercase; }
        @media screen and (max-width: 1920px) {
          .article-reader .article-reader-body .article-reader-body-inner h2 {
            font-size: 2.5em; } }
        @media screen and (max-width: 1200px) {
          .article-reader .article-reader-body .article-reader-body-inner h2 {
            font-size: 2em; } }
        @media screen and (max-width: 900px) {
          .article-reader .article-reader-body .article-reader-body-inner h2 {
            font-size: 1.3em;
            margin-bottom: 10px; } }
      .article-reader .article-reader-body .article-reader-body-inner h3 {
        font-size: 1.5em;
        color: #5d5d5d;
        margin-bottom: 1.5em;
        font-weight: 100; }
        @media screen and (max-width: 900px) {
          .article-reader .article-reader-body .article-reader-body-inner h3 {
            font-size: 1.2em;
            color: black;
            margin-bottom: 1em; } }
      .article-reader .article-reader-body .article-reader-body-inner h4 {
        font-size: 2em;
        margin-bottom: 0.5em;
        text-shadow: none;
        color: #5d5d5d;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
        @media screen and (max-width: 900px) {
          .article-reader .article-reader-body .article-reader-body-inner h4 {
            font-size: 1.2em; } }
      .article-reader .article-reader-body .article-reader-body-inner img {
        max-width: 620px;
        width: 100%;
        margin-bottom: 25px; }
        @media screen and (max-width: 900px) {
          .article-reader .article-reader-body .article-reader-body-inner img {
            max-width: 100%; } }
      .article-reader .article-reader-body .article-reader-body-inner a.button {
        margin-top: -10px; }
  .article-reader .article-seeproject {
    position: absolute;
    left: 900px;
    top: 50%;
    width: 50px;
    transform: translateX(-50%);
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    display: none; }
    @media screen and (max-width: 1920px) {
      .article-reader .article-seeproject {
        left: 600px; } }
    @media screen and (max-width: 1200px) {
      .article-reader .article-seeproject {
        left: 450px; } }
    @media screen and (max-width: 900px) {
      .article-reader .article-seeproject {
        display: none; } }

.numbers {
  background-color: #e0e0e0 !important; }
  .numbers .features {
    border: none;
    background: transparent; }
    @media screen and (max-width: 980px) {
      .numbers .features {
        overflow: auto;
        overflow-y: hidden; } }
    .numbers .features section {
      border: none;
      width: 50% !important;
      padding: 1.5em 3em 1em 3em !important; }
      @media screen and (max-width: 1200px) {
        .numbers .features section {
          width: 50% !important; } }
      @media screen and (max-width: 980px) {
        .numbers .features section {
          width: 50% !important;
          float: left;
          height: 300px;
          padding: 1em 3em 1em 3em !important; } }
      @media screen and (max-width: 736px) {
        .numbers .features section {
          width: 100% !important;
          height: auto;
          padding: 1em 3em 0em 3em !important; } }
      @media screen and (max-width: 480px) {
        .numbers .features section {
          padding: 1em 1.5em 0em 1.5em !important; } }
      .numbers .features section img {
        float: left; }
        @media screen and (max-width: 480px) {
          .numbers .features section img {
            display: none; } }
      .numbers .features section p {
        width: calc(100% - 100px);
        float: right; }
        @media screen and (max-width: 736px) {
          .numbers .features section p {
            font-size: 1.5em; } }
        @media screen and (max-width: 480px) {
          .numbers .features section p {
            width: 100%;
            font-size: 1.25em; } }

.awards {
  background: #FCCC04 !important; }
  .awards h2 {
    text-align: center; }
  .awards .inner {
    overflow: auto; }
  .awards .features {
    background: transparent;
    border: none; }
    .awards .features section {
      width: 33.33333%;
      float: left;
      padding: 3.5em 3em 1em 3em;
      text-align: center;
      border: none;
      background: url("../../images/laurier-01.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100% auto; }
      .awards .features section:last-child {
        margin-right: 0; }
      @media screen and (max-width: 736px) {
        .awards .features section {
          width: 100%; } }
      .awards .features section img {
        height: 150px;
        width: auto;
        margin-bottom: 1em; }
        @media screen and (max-width: 980px) {
          .awards .features section img {
            height: 120px; } }
        @media screen and (max-width: 736px) {
          .awards .features section img {
            height: 150px; } }

.form {
  background: #484F53 !important; }
  .form h2, .form h3 {
    color: #fff; }
  .form p {
    color: rgba(255, 255, 255, 0.5); }

#footer {
  background: #3c4245;
  overflow: auto; }
  #footer .inner {
    overflow: auto; }
    #footer .inner a {
      border-bottom: none; }
  #footer .left {
    width: calc(66.66666% - 2em);
    float: left;
    overflow: auto; }
    @media screen and (max-width: 736px) {
      #footer .left {
        width: 100%; } }
  #footer .right {
    width: calc(33.33333% - 2em);
    float: left;
    overflow: auto;
    padding-left: 2em; }
    @media screen and (max-width: 736px) {
      #footer .right {
        width: 100%;
        padding-left: 0; } }
  #footer h3 {
    color: #807f7f;
    font-weight: 300; }
  #footer p {
    color: #FCCC04; }
  #footer .fa {
    color: #FCCC04;
    margin-right: 20px; }
