section.excellence {
  background: #FCCC04; }
  section.excellence .inner {
    overflow: auto; }
    section.excellence .inner .inner-left {
      width: 50%;
      float: left;
      padding-right: 15px; }
      @media screen and (max-width: 900px) {
        section.excellence .inner .inner-left {
          width: 100%;
          padding-right: 0; } }
    section.excellence .inner .inner-right {
      width: 50%;
      float: left;
      padding-left: 15px;
      margin-top: -20px; }
      @media screen and (max-width: 900px) {
        section.excellence .inner .inner-right {
          width: 100%;
          padding-left: 0;
          padding-top: 1em;
          padding-bottom: 1em; } }
      section.excellence .inner .inner-right img {
        width: 33.33333%;
        max-width: 285px;
        float: left; }
        @media screen and (max-width: 1200px) {
          section.excellence .inner .inner-right img {
            width: 50%; } }
        @media screen and (max-width: 900px) {
          section.excellence .inner .inner-right img {
            width: 33.33333%; } }
        @media screen and (max-width: 500px) {
          section.excellence .inner .inner-right img {
            width: 33.33333%; } }
  section.excellence h2 {
    color: black; }
  section.excellence p {
    color: black; }
  section.excellence .inner.excellence-awards {
    padding-top: 2em;
    padding-bottom: 4em; }
    @media screen and (max-width: 900px) {
      section.excellence .inner.excellence-awards {
        padding-bottom: 2em; } }
    section.excellence .inner.excellence-awards .excellence-awards-container {
      width: 32%;
      margin-right: 2%;
      float: left; }
      @media screen and (max-width: 900px) {
        section.excellence .inner.excellence-awards .excellence-awards-container {
          width: 100%;
          margin-right: 0;
          margin-bottom: 40px; } }
      section.excellence .inner.excellence-awards .excellence-awards-container:last-child {
        margin-right: 0; }
      section.excellence .inner.excellence-awards .excellence-awards-container img {
        max-width: 120px;
        float: left;
        margin-right: 20px;
        margin-bottom: 30px; }
        @media screen and (max-width: 1200px) {
          section.excellence .inner.excellence-awards .excellence-awards-container img {
            margin-bottom: 100px; } }
        @media screen and (max-width: 900px) {
          section.excellence .inner.excellence-awards .excellence-awards-container img {
            margin-bottom: 0;
            max-width: 90px; } }
      section.excellence .inner.excellence-awards .excellence-awards-container h5 {
        font-size: 1.5em;
        margin: 0 0 0.5em 0; }
        @media screen and (max-width: 900px) {
          section.excellence .inner.excellence-awards .excellence-awards-container h5 {
            font-size: 1.3em;
            padding-left: 110px; } }
      section.excellence .inner.excellence-awards .excellence-awards-container h3 {
        opacity: 0.5; }
        @media screen and (max-width: 900px) {
          section.excellence .inner.excellence-awards .excellence-awards-container h3 {
            padding-left: 110px; } }
